$container-xl: 1440px;
$container-l: 1216px;
$container-m: 960px;
$container-s: 620px;
$container-xs: 340px;
$gutter: 32px;

// Mixin of media-queries
@mixin responsive($device) {


  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } 

  @else if $device == ul {
    // For resolutions upper 960px
    @media screen and (min-width: $container-m) {
      @content;
    }
  } 
  
  @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } 
  
  
  @else if $device == m {
    // For resolutions between 960px and 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } 
  
  
  @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } 
  
  
  @else if $device == xs {
    // For resolutions less than 340px
    @media screen and (max-width: $container-xs) {
      @content;
    }
  }
}

@function grid($col, $total: 12){
  @return ($col / $total) * 100%;
}


@for $i from 1 through 12{
  .grid-#{$i}{
      width: calc(#{grid($i)} - #{$gutter});
      margin: $gutter / 2;

      padding: 16px 0px;
      float: left;

      @include responsive(s){
          width: calc(100% - #{$gutter});
          float: none;
      }
  }
}

.banner, .models-films-popular {
  display: none;
}

.hidden {
  overflow: hidden;
}

.featured-movie {
  margin-top: 30px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://image.tmdb.org/t/p/original/5P8SmMzSNYikXpxil6BYzJ16611.jpg');
}

.vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, rgb(21, 20, 20) 10%, transparent 90%);
}

.horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, rgb(21, 20, 20) 20%, transparent 80%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0px 0px 30px;
}


span{
  position: relative;
  display: inline-block;

  margin-left: 10px;
  font-size: 20px;
}

.span {
  color: $primary-normal;
}

.info-film,
.vote-average,
.resume,
.title,
.year,
.title-banner,
.most-popular-h3 {
  font-weight: bold;
}

.vote-average,
.resume,
.title,
.year {
  margin-top: -250px;
}

.title {
  font-size: 65px;
}

.year {
  display: inline-block;
  margin-left: 10px;
}

.vote-average {
  color: #46d369;
  display: inline-block;
}

.resume {
  color: $gray-7;
  max-width: 30%;
  font-size: 20px;
  margin-top: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: -150px;
}

.container img {
  width: 500px;
  transition: .3s ease;
  border-radius: 4px;
  transform: scale(.8);
  
  &:hover {
    transform: scale(.9);
  }
}

img.star {
  width: 200px;
}

.container p {
  font-size: 20px;
  padding: 8px;
}

.title-banner a {
  color: $white-light;
  padding: 10px 0px;
  text-align: center;

  &:hover {
    text-decoration: solid;
  }
}

.films-popular-area {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 110px;
  // border: #46d369 1px solid;
}

h1 {
  margin-bottom: 12px;
}

.films-popular-area img {
  width: 220px;
  height: 330px;
  transform: scale(.9);
  transition: ease .3s;
  border-radius: 4px;

  // border: #46d369 1px solid;

  &:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

.filmWindowArea {
  width: 100vw;
  height: 100vh;
  background: rgba(139, 134, 134, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  transition: ease .7s;
}

.filmWindowArea.active,  .search-movie-area.active {
  display: flex;
}

.pokemonWindowBody {
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background-color: rgba($color: #22252b, $alpha: .5);
  border-radius: 4px;

  box-shadow: inset 1px 1px 5px #dee3eb,
              inset -1px -1px 5px #d6dbe3;

  position: relative;
}

.pokemonWindowBody img {
  width: 750px;
  border-radius: 4px;
  box-shadow: 0px 1px 10px #211f1f,
              0px 1px 10px #1b1a1a;
  transition: ease .3s;

  &:hover {
    transform: scale(1.02);
  }
}

.nameFilm {
  text-align: center;
  color: $white-light;
  font-weight: bold;
  margin-bottom: 32px;
  text-transform: uppercase;
  padding: 8px;
  font-size: 50px;
}

.vote-average, .year {
  margin-bottom: 12px;
}

.descriptionFilm {
  font-size: 20px;
  font-weight: bold;
  width: 75%;
  padding: 12px 0;
}

.close {
  border: 4px solid $white-light;
  background-color: $primary-normal;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: $white-light;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
};

.active .pokemonWindowBody {
  animation: modal .7s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.container-test {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 12px;
}

.title-film {
  font-size: 20px;
}

.result, .result-title {
  text-align: center;
  font-weight: 500;
}

.result {
  color: $primary-normal;
  text-transform: uppercase;
  font-size: 20px;
}

.result-title {
  font-size: 44px;
}


.search-back {
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  color: $primary-normal;
  width: 100%;
  font-size: 50px;
  transition: .5s ease;
  margin-left: -100px;

  &:hover {
    transform: translate3d(-5px, 0, 0);
  }
}

.search {
  font-weight: 500;
  margin-left: -50px;
}

.container-movie-search {
  position: absolute;
  top: 80px;
  left: 0px;
  background-color: $black-dark;
  width: 100%;
  // height: 100%;
  display: none;
}

.container-movie-search.active-search {
  display: inline-block;
}

.div-movie-search {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.container-week, .container-search {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr)); 
  gap: 16px;

  max-width: 1200px; 
  margin: 0 auto; 
  padding: 128px 12px; 
  overflow: hidden; 
  margin-top: -100px; 
}

.films-test {
  border: 1px solid #151B26;
}

.thumb {
  overflow: hidden;

  img{
    transform: scale(1);
    transition: .5s ease;
  }
  
  &:hover{
    img{
      transform: scale(1.05);
    }
  }
}

.film-info-test {
  padding: 8px;
}

.link {
  padding: 12px 0px;
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgba(15, 20, 31, 0.5);
  padding: 128px 24px;
  border-top: $black-light 1px solid;
  align-items: center;
  justify-content: center;
  margin-top: 380px;
}

.footer-icons {
  display: flex;
  align-items: center;
  padding: 2.5px;
}

.footer-data {
  display: flex;
  align-items: center;
  padding: 12px;
}

.fa-square-chevron-left, .fa-github-square, .fa-facebook-square, .fa-instagram-square, .fa-linkedin {
  color: $primary-normal;
  font-size: 25px;
}

.icons {
  margin-left: 5px;

  &:hover {
    transform: translate3d(0, -3px, 0);
  }
}

input:focus {
  width: 500px;
  transition: ease .3s;
}

.search-movie-area {
  width: 100%;
  height: 100%;
  display: none;
  padding: 24px;
  position: fixed;

  background-color: rgba($color: #000000, $alpha: 0.3);
  backdrop-filter: blur(5px);

  top: 0px;
  left: 0px;
  animation: modal .7s;
}

.search-movie-container {
  max-width: 1200px;
  height: 90vh;
  overflow: scroll;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 12px;
  background-color: $black-dark;
  margin-top: 70px;
}

.data-movie {
  display: flex;
  width: 100%;
  padding: 24px;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: $black-dark;
  cursor: pointer;
  transition: ease .3s;

  &:hover {
    background-color: $black-light;
  }

  img {
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 24px;
  }

  li {
    list-style: none;
  }
}

.invisible {
  display: none;
}